.head{
    background-image: url('directory.jpg');
    min-height: 605px;
    position:relative;
    
}

.center
{
    color: white;
    position: absolute;
    top:40%;
    left:25%;
    width:50%;
 height:200px;
 font-size: 30px;
 background-color: rgba(31, 55, 105,0.8);

}

.delete1{
    padding:15px;
    background-color: deeppink;
    border-radius: 10px;
    color:white;
    font-size: 15px;

}

div h1{
    margin-bottom: 10px;
}

h4{
    margin-top:0px;
    background-color: rgba(31, 55, 105);
    padding: 30px;
    color:white;

    
}

.directory{
    min-height: 500px;
}

footer{
    background-color: black;
    color:white;
    padding:20px;
    text-align: center;

}

@media only screen and (max-width: 600px) {
.center{
    width:100%;
    left:0px;
}
h1{
    font-size: 20px;
    
}

}
